<a href="https://colab.research.google.com/github/donaldocelaj/lambdata/blob/master/Date_to_Dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

class Utilities:
    """ Class of Utilities"""
    def __init__(self, tools=1):
        self.tools = tools
        
    #Tool to turn a date into a dataframe
    def datetodf(self, date):
        df = pd.DataFrame(columns=('Month', 'Day', 'Year'))
        list = date.split('/')
        series0 = pd.Series(list[0])
        series1 = pd.Series(list[1])
        series2 = pd.Series(list[2])
        df['Month'] = (series0)
        df['Day'] = (series1)
        df['Year'] = (series2)
        print(df.head(1))

In [19]:
utility = Utilities()
utility.datetodf('11/10/1991')

  Month Day  Year
0    11  10  1991